<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <header class="header">
    <!-- <div class="navbar-brand">My Website</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="header_area box box_inner clear">
      <div class="header_cont">
        <ul class="util clear">
          <% if(isAuthenticated){ %>
            <li><a href="/users/<%= currentUser.username %>">내 계정</a></li>
            <li><a href="/logout">로그아웃</a></li>
          <% } else { %>
            <li><a href="/users/new">회원가입</a></li>
            <li><a href="/login">로그인</a></li>
          <% } %>
        </ul>
        <ul class="gnb clear">
          <li><a href="/" class="openAll1">Home</a></li>
          <li><a href="/about" class="openAll2">About</a></li>
          <li><a href="/posts" class="openAll3">자료취합</a></li>
        </ul>
      </div>
    </div>
  </header>
</nav>
