<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div id="container">
      <div class="bodytext_area box_inner">
        <div class="jumbotron">
          <P>자료취합을 위한 게시판을 제공합니다.</p>
          <p>로그인 후 이용바랍니다.</p>
        </div>
      </div>
    </div>
  </body>
</html>
